@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo-scroll {
    height: var(--logo-height, 240px);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

#root {
  width: 100%;
}
